In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)

2.2.2

In [3]:
df = pd.read_csv('Walmart_sales.csv')

In [5]:
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

In [ ]:
df.loc[6000:6300, 'CPI'] = None
df.loc[3:6, 'Unemployment'] = None
df.loc [60, 'Unemployment'] = np.nan 
df.loc[500, 'Date'] = np.nan
df.loc[536, 'Date'] = np.nan
df.loc[789, 'Fuel_Price'] = np.nan
df.loc[360:365, 'Holiday_Flag'] = None
df.loc[[214,215,216,217,218]]
df.loc[214:218, 'Weekly_Sales'] = None
df.loc[436:438,'Fuel_Price'] = None
df.loc[23:26,'Temperature']= None
df.loc[2, 'Date']= np.nan
df.loc[236, 'Weekly_Sales']= np.nan

In [ ]:
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)

In [ ]:
# Getting the row you want to duplicate
duplicate_row = df.iloc[2]

# Concatenate the original DataFrame with itself and the duplicate row
df = pd.concat([df, pd.DataFrame([duplicate_row])], ignore_index=True)

In [ ]:
# Getting the rows you want to duplicate 
rows_to_duplicate = df.iloc[[30, 35, 40]]

# Concatenate the DataFrame with the rows to duplicate
df = pd.concat([df, rows_to_duplicate], ignore_index=True)

In [ ]:
rows_to_duplicate = df.iloc[[500, 23,24, 436,236,700,789]]

# Concatenate the DataFrame with the rows to duplicate
df = pd.concat([df, rows_to_duplicate], ignore_index=True)

In [ ]:
df.loc[3272:3278, ['Date', 'Unemployment']] = None
df.loc[3845:3854, ['Temperature', 'Fuel_Price']] = None

In [ ]:
rows_to_duplicate = df.iloc[[3272,3273,3846]]

# Concatenate the DataFrame with the rows to duplicate
df = pd.concat([df, rows_to_duplicate], ignore_index=True)

In [ ]:
import pandas as pd

df.to_csv('uncleanWalmartData.csv', index=False)